body {
    background-color: #E8E1D9;
    margin: 0px;
    background-image: url(https://images.squarespace-cdn.com/content/v1/57fc27976b8f5bbb0d2fcc40/1480995440086-A1JSZR7HSLW95TUOFE4R/background2.gif?format=1500w);
    background-repeat: no-repeat;
    background-size: cover;
}
/* !!!!!!!!!!!!!!!! HELLO !!!!!!!!!!! */
div.head {
    background-color: #F4A442;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: auto;
    max-width: auto;
    background-image: (url(https://i.makeagif.com/media/3-05-2014/KAvOdI.gif));
    background-repeat: no-repeat;
}

/* !!!!!!!!!!!!!!!! LOGO !!!!!!!!!!! */

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* !!!!!!!!!!!!!!!! LOGO !!!!!!!!!!! */
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

/* !!!!!!!!!!!!!!!! HELLO !!!!!!!!!!! */

div.classblock1 {
    background-color: rgba(62, 124, 23, 0.3);
    border: solid 6px rgba(18, 92, 19,0.3);
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    height: fit-content;
    width: fit-content;
     
    
    
}


div.classblock1:hover {
    transform: scale(1.1);
}

/* !!!!!!!!!!!!!!!! HELLO !!!!!!!!!!! */

div.classblock2 {
    background-color: rgba(62, 124, 23, 0.3);
    border: solid 6px rgba(18, 92, 19,0.3);
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    height: fit-content;
    width: fit-content;
    
    
}

div.classblock2:hover {
    transform: scale(1.1);
}


/* !!!!!!!!!!!!!!!! PARAGRAPH !!!!!!!!!!! */

p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center
}

/* !!!!!!!!!!!!!!!! HELLO !!!!!!!!!!! */

div.classblock3 {
    background-color: rgba(62, 124, 23, 0.3);
    border: solid 6px rgba(18, 92, 19,0.3);
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    height: fit-content;
    width: fit-content; 
    
}

    div.classblock3:hover {
        transform: scale(1.1);
    }
    
    div.classblock4 {
        background-color: rgba(62, 124, 23, 0.3);
    border: solid 6px rgba(18, 92, 19,0.3);
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        height: fit-content;
        width: fit-content;
        
    }
    
    div.classblock4:hover {
        transform: scale(1.1);
    }

    div.classblock5 {
        background-color: rgba(62, 124, 23, 0.3);
    border: solid 6px rgba(18, 92, 19,0.3);
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        height: fit-content;
        width: fit-content;
        
    }
    
    div.classblock5:hover {
        transform: scale(1.1);
    }

    div.classblock6 {
        background-color: rgba(62, 124, 23, 0.3);
    border: solid 6px rgba(18, 92, 19,0.3);
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        height: fit-content;
        width: fit-content;
        
    }
    
    div.classblock6:hover {
        transform: scale(1.1);
    }

   